<body id="login">
    <div>
        <h1>Login with Username</h1>
        <%= form_for @user do |f| %>
            <!-- <%= f.label :name %><br> -->
            <%= f.text_field :name %>
            <%= f.submit 'Enter Game' %>
        <% end %>
    </div>
</body>