// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'assets/vars';

div.producer {
	background: $first-item;
	height: 12.5%;

}

div.upgrade {
	background: $first-item;
	height: 12.5%;
}

.column {
	width: 31%;
	float: left;
	margin-left: 2%;
	
}