// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'assets/vars';


#login div {
	background: $first-item;

	width: 45%;
	height: 27%;

	text-align: center;
	margin: auto;
	margin-top: 10%
}
#login h1 {
	padding-top: 15%;
}

#user_name {
	margin-bottom: 15%;
}


